<div>
  <h2 id="page-heading" data-cy="ApplicationHeading">
    <span jhiTranslate="educationAppFinalApp.application.home.title">Applications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="educationAppFinalApp.application.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-application"
        [routerLink]="['/application/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="educationAppFinalApp.application.home.createLabel"> Create a new Application </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
    <span jhiTranslate="educationAppFinalApp.application.home.notFound">No Applications found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="applications && applications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="middleName">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.middleName">Middle Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthday">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.birthday">Birthday</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gender">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.gender">Gender</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="passportNo">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.passportNo">Passport No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nationality">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.nationality">Nationality</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="occupation">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.occupation">Occupation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mobPhone">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.mobPhone">Mob Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="homePhone">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.homePhone">Home Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notificationMethod">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.notificationMethod">Notification Method</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="certificateNo">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.certificateNo">Certificate No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="certificateGivenDate">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.certificateGivenDate">Certificate Given Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="course.id">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.course">Course</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="groups.id">
            <div class="d-flex">
              <span jhiTranslate="educationAppFinalApp.application.groups">Groups</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/application', application.id, 'view']">{{ application.id }}</a>
          </td>
          <td>{{ application.firstName }}</td>
          <td>{{ application.lastName }}</td>
          <td>{{ application.middleName }}</td>
          <td>{{ application.birthday | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'educationAppFinalApp.GenderEnum.' + application.gender }}">{{ application.gender }}</td>
          <td>{{ application.passportNo }}</td>
          <td>{{ application.nationality }}</td>
          <td>{{ application.occupation }}</td>
          <td>{{ application.address }}</td>
          <td>{{ application.mobPhone }}</td>
          <td>{{ application.homePhone }}</td>
          <td>{{ application.notificationMethod }}</td>
          <td>{{ application.certificateNo }}</td>
          <td>{{ application.certificateGivenDate | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'educationAppFinalApp.AppStatusEnum.' + application.status }}">{{ application.status }}</td>
          <td>
            <div *ngIf="application.course">
              <a [routerLink]="['/course', application.course.id, 'view']">{{ application.course.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="application.groups">
              <a [routerLink]="['/groups', application.groups.id, 'view']">{{ application.groups.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/application', application.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/application', application.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(application)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="applications && applications.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
